@model FindingAddress.Models.TourSpot

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTourSpot</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br/>
        <br/>
        <h3 style="text-align: center">@ViewBag.result</h3>
        <div class="form-horizontal">
            <h4>TourSpot</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CategoryId)
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DivisionId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DivisionId)
                    @Html.ValidationMessageFor(model => model.DivisionId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DistrictId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DistrictId)
                    @Html.ValidationMessageFor(model => model.DistrictId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CityId)
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ThanaId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ThanaId)
                    @Html.ValidationMessageFor(model => model.ThanaId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LocationId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationId)
                    @Html.ValidationMessageFor(model => model.LocationId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
