
@using FindingAddress.Models
@model FindingAddress.Models.BusAssignStation

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBusByBusStation</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: center">Find Your Bus</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-2">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SourceId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SourceId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SourceId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DestinationId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.DestinationId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DestinationId)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Search" class="btn btn-default" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
            @if (IsPost)
            {
                <table class="table table-primary">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BusId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SourceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DestinationId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fare)
                        </th>
                    </tr>

                    @foreach (BusAssignStation item in @ViewBag.List)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SourceId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DestinationId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fare)
                            </td>
                        </tr>
                    }

                </table>
            }

    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SourceId").autocomplete({
                source: 'getStationList'
            });
            $("#DestinationId").autocomplete({
                source: 'getStationList'
            });
            $("btnSearch").click(function () {
                $.ajax({
                    type: 'POST',
                    url: 'searchBusCompanyBySourceAndDestination',
                    dataType: 'json',
                    data: {
                        SourceId: $("#SourceId").val(),
                        DestinationId: $("#DestinationId").val()
                    },
                    success: function (data) {
                        alert('im back');
                        alert(data);
                    },
                    error: function (xhr, ajaxOptions, error) {
                        alert(xhr.status);
                        alert('Error: ' + xhr.responseText);
                    }
                });
            });
        })
    </script>
</body>
</html>
