@model IEnumerable<FindingAddress.Models.BusAssignStation>

<h2>ShowassignBusStation</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DestinationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
