@model FindingAddress.Models.Mess

@{
    Layout = "~/Views/Shared/_RegisteredPanel.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="panel panel-success">
        <div class="panel-heading" style="text-align: center">Save Mess Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-offset-4">
                    @Html.ValidationSummary(true)
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BuildingName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.BuildingName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BuildingName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.imagePath, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="ImagePath" />
                                @Html.ValidationMessageFor(model => model.imagePath)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ContactNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DivisionId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.DivisionId, ViewBag.DivisonDropdownList as IEnumerable<SelectListItem>, "SELECT", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DivisionId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DistrictId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="DistrictId" class="form-control" name="DistrictId">
                                    <option value="0">SELECT</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.DistrictId)
                            </div>
                        </div>  
                        <div class="form-group">
                            @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CityId, ViewBag.cityDropdownlist as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ThanaId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="ThanaId" class="form-control" name="ThanaId">
                                    <option value="0">SELECT</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.ThanaId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="LocationId" class="form-control" name="LocationId">
                                    <option value="0">SELECT</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.LocationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ManagerName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ManagerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ManagerName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AvailableSit, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.AvailableSit, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AvailableSit)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalSit, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.TotalSit, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TotalSit)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EstimatedSitFare, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.EstimatedSitFare, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedSitFare)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Advance, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Advance, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Advance)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PostingDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.PostingDate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PostingDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AvailableMonth, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.AvailableMonth, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AvailableMonth)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeadlineDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DeadlineDate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DeadlineDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
            $(document).ready(function() {
                $('#DivisionId').change(function() {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("getDistrictDropdownListByDivisionId")',
                        dataType: 'json',
                        data: { DivisionId: $("#DivisionId").val() },

                        success: function(data) {
                            $("#DistrictId").empty();
                            $("#DistrictId").append('<option value="' + 0 + '">' + "SELECT" + '</option>');
                            $(data).each(function(index, item) {

                                $("#DistrictId").append('<option value="' + item.Value + '">' + item.Text + '</option>');

                            });
                        }
                    });
                });
                $('#DistrictId').change(function() {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("getThanaDropdownListByDistrictId")',
                        dataType: 'json',
                        data: { DistrictId: $("#DistrictId").val() },

                        success: function(data) {
                            $("#ThanaId").empty();
                            $("#ThanaId").append('<option value="' + 0 + '">' + "SELECT" + '</option>');
                            $(data).each(function(index, item) {

                                $("#ThanaId").append('<option value="' + item.Value + '">' + item.Text + '</option>');

                            });
                        }
                    });
                });
                $('#ThanaId').change(function() {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("getLocationDropdownListByThanaId")',
                        dataType: 'json',
                        data: { ThanaId: $("#ThanaId").val() },

                        success: function(data) {
                            $("#LocationId").empty();
                            $("#LocationId").append('<option value="' + 0 + '">' + "SELECT" + '</option>');
                            $(data).each(function(index, item) {

                                $("#LocationId").append('<option value="' + item.Value + '">' + item.Text + '</option>');

                            });
                        }
                    });

                });
                $("#DeadlineDate").datepicker({
                    appendText: 'dd/mm/yyyy',
                    changeMonth: true,
                    changeYear: true,
                    buttonText: 'Date',
                    dateFormat: 'dd/mm/yy'
                });
                $("#PostingDate").datepicker({
                    appendText: 'dd/mm/yyyy',
                    changeMonth: true,
                    changeYear: true,
                    buttonText: 'Date',
                    dateFormat: 'dd/mm/yy'
                });
            });
    </script>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
